<!-- ABOUT US -->
<a name="nosotros"></a>
<div class="row">
    <div class="col-lg-12">
        <div class="minor-page">
            <h2 class="title">Acerca de Nosotros</h2>
            <h3 class="title-description">Comunidad Android Bolivia</h3>
            <div class="page-description">
                <p>La “Comunidad Android Bolivia”  organiza el primer campamento de android  para
                desarrolladores , estudiantes y usuarios amantes de  la tecnología android. <br/>
                Desarrolladores, diseñadores, emprendedores y usuarios están invitados a participar
                en este gran evento. <br/>
                <strong>Lugar: <a href="http://www.martadero.org/" target="_blank"> “mARTadero” </a></strong> <br/>
                <strong>Cochabamba-Bolivia</strong> <br/>
                <strong>Fecha: 19 - 20 de octubre del 2013 </strong> <br/>
                </p>
            </div>
        </div>
    </div>
</div><!-- ABOUT US -->
