  <!-- Modal -->
  <div class="modal fade" id="PanelCharlas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Charlas</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <a href="" class="list-group-item active">
              <h4 class="list-group-item-heading">Charlas</h4>
              <p class="list-group-item-text">Entérate de novedades en cuanto a Android se trata, con charlas a de expositores nacionales y hangout's con expositores del exterior.</p>
            </a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> El ingreso a todas las charlas es totalmete Libre.</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> En las charlas de desarrollo se hablarán de tópicos, consejos y buenas prácticas para incursionar más en el desarrollo en Android. (Estas charlas son enfocadas para aquellas personas que tengan nociones de programación y desarrollo)</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Las charlas para usuarios son abiertas a todos público dónde se hablarán de características de Android orientada a usuarios.</a>
            <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Para asistir a una charla debe realizar su inscripción en la página: <b>camp.androidbolivia.org</b> (la razón es porque se le reenviará un correo con la aceptación al evento, al momento de ingresar se verificará por lista y se le asignará una credencial y regalos por asistir al Android Camp).</a>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="PanelTalleres" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Talleres</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
              <a href="" class="list-group-item active">
                <h4 class="list-group-item-heading">Talleres</h4>
                <p class="list-group-item-text">Talleres totalmente prácticos para dominar Android y algún tipo de hardware que se complemente con esta tecnología.</p>
              </a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> El costo de inscripción es de <strong>30 Bs.</strong> (Por taller).</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Para el pago se habilitó la cuenta del <strong>Banco de Crédito. Nro: 201-50839619-3-31</strong></a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Los talleres para desarrolladores es para aprender nuevas técnicas, herramientas y más para desarrollar apps en esta plataforma.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Para participar de los talleres debe realizar su previa inscripción en la página <b> camp.androidbolivia.org </b> (el dia del evento presentarse con su boleta de pagos se les asignara su credencial junto con souvinirs de regalo).</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Cada taller tiene un cupo máximo de 15 personas.</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="PanelHackaton" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Hackathon</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
              <a href="" class="list-group-item active">
                <h4 class="list-group-item-heading">Hackathon : Inicia Sábado <strong>19 de Octubre a las 17:00 Hrs.</strong>, Acaba el Domingo <strong> 20 de Octubre a las 15:00 Hrs.</strong></h4>
                <p class="list-group-item-text">Un Hackathon es un evento destinado principalmente a avanzar el desarrollo de un proyecto, a base de involucrar a la comunidad en los mismos, podrás realizar aquello desarrollando una app en un día extremo de programación, con las siguientes reglas:</p>
              </a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Fecha límite para la inscripción de equipos para el hackathon interno hasta el 15 de octubre.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> A los equipos del hackathon deberán ser identificados y acreditados el dia sabado hasta las 12:00 del mediodía.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Los equipos que no estén acreditados hasta esa hora serán descartados del hackathon.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> El hackathon arranca a las 17:00 de la tarde del sábado .</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> El equipo para el hackathon consta de 3 miembros (no habrá excepciones).</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> El costo de la inscripción por equipo es de 100 Bs.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> El hackathon terminará el día domingo a las 15 :00 hrs.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> El jurado calificador estará compuesto por expertos en desarrollo de software.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Se darán premios a los tres primeros lugares.</a>
              <a href="" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> En la evaluación se tomará en cuenta originalidad, usabilidad, facilidad, innovación y el punto más importante: Que tanto apoya al desarrollo de nuestro país, mas información en la dirección de correo: <strong>info@androidbolivia.org</strong></a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="PanelJuegos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Juegos</h4>
        </div>
        <div class="modal-body">
          <div class="list-group">
              <a href="" class="list-group-item active">
                <h4 class="list-group-item-heading">Juegos: Durante la noche del Sábado 19 de octubre.</h4>
                <p class="list-group-item-text">Si quieres divertirte mientras logras dormir, se realizarán distintas actividades mientras se lleva a cabo el hackathon durante toda la noche.</p>
              </a>
              <a href="" class="list-group-item">
                <h4 class="list-group-item-heading">Papertoys:</h4>
                <small>Si quisieras armar tu propio muńeco de Android de papel y/o cartulina, ésta es tu oportunidad para ello con el cuál podrás ganar premios.</small><br><br>
                <p class="list-group-item-text">
                  <i class="glyphicon glyphicon-chevron-right"></i> Cada participante debe traer sus materiales para realizarlo: Papel, cartulina, tijeras, pegamento, etc.<br>
                  <i class="glyphicon glyphicon-chevron-right"></i> El evento se llevará a cabo por la noche luego del receso para la cena.<br>
                  <i class="glyphicon glyphicon-chevron-right"></i> Las inscripciones se realizarán previo a inicio del Concurso de PaperToys.<br>
                  <i class="glyphicon glyphicon-chevron-right"></i> La duración del concurso se lo mencionará en ese momento.<br>
                </p>
              </a>
              <a href="" class="list-group-item">
                <h4 class="list-group-item-heading">Android Band:</h4>
                <small>Te gusta tocar algún instrumento musical y quisieras participar con ello pero tocando ese mismo instrumento desde tu SmartPhone o Tablet, pues esta es tu oportunidad.</small><br><br>
                <p class="list-group-item-text">
                  <i class="glyphicon glyphicon-chevron-right"></i> El Android Band es un concurso para los que sepan tocar algun tema musical con un instrumento en su Android.<br>
                  <i class="glyphicon glyphicon-chevron-right"></i> Puede ser en equipos o como ya mencionado puede traer su Banda y tocar todos con sus Android's.<br>
                  <i class="glyphicon glyphicon-chevron-right"></i> Toda inscripción se realizará ese mismo día.<br>
                </p>
              </a>
              <a href="" class="list-group-item">
                <h4 class="list-group-item-heading">Juegos:</h4>
                <small>Si eres un fanático de los juegos en Android como ser: AngryBirds, Minions y más... puedes competir con otras personas que jueguen el mismo juego con sus SmartPhones y tabletas.</small><br><br>
                <p class="list-group-item-text">
                  <i class="glyphicon glyphicon-chevron-right"></i> Se lo harán por categorías (o tipos de juegos).<br>
                  <i class="glyphicon glyphicon-chevron-right"></i> Inscripción minutos antes de comenzar el concurso.<br>
                </p>
              </a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

