 {% load static from staticfiles %}
 <!-- PARTNERS -->
<a name="partners"></a>
<div class="row">
    <div class="col-lg-12">
        <div class="minor-page">
            <h2 class="title">Auspician:</h2><hr>
            <div class="row partners" >
                <a class="col-xs-6 col-md-4" href="http://openit.com.bo/"><img class="one" src="{% static 'img/openit.jpg' %}" alt="Open IT"></a>
                <a class="col-xs-6 col-md-4" href="http://www.tierconnect.com/"><img class="two" src="{% static 'img/tierconnect.jpg' %}" alt="Tierconnect"></a>
                <a class="col-xs-6 col-md-4" href="http://yoquie.ro/"><img class="seven" src="{% static 'img/yoquiero.jpg' %}" alt="Yo Quiero"></a>
                <a class="col-xs-6 col-md-4" href="http://microfin-bolivia.com/"><img class="nine" src="{% static 'img/microfin.jpg' %}" alt="Microfinanzas"></a>
                <a class="col-xs-6 col-md-4" href=""></a>
                <a class="col-xs-6 col-md-4" href="https://www.facebook.com/versacorpandeducation/"><img class="nine" src="{% static 'img/aupair.jpg' %}" alt="Versa Corp."></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="minor-page partners-low">
            <h2 class="title">Apoyan:</h2><hr>
            <div class="row partners" >
                <a class="col-xs-6 col-md-4" href="http://martadero.org/"><img class="three" src="{% static 'img/martadero.png' %}" alt="Proyecto mARTadero"></a>
                <a class="col-xs-6 col-md-4" href="http://www.hacklabcbba.org/index.php/P%C3%A1gina_principal"><img class="four" src="{% static 'img/hacklabco.png' %}" alt="Hacklab Cochabamba"></a>
                <a class="col-xs-6 col-md-4" href="http://www.telartes.org.bo/"><img class="five" src="{% static 'img/telartes.png' %}" alt="Telartes"></a>
                <a class="col-xs-6 col-md-4" href=""><img class="six" src="{% static 'img/scesi.png' %}" alt="Sociendad Científica"></a>
                <a class="col-xs-6 col-md-4" href="https://plus.google.com/112806249393123340567/posts"><img class="eight" src="{% static 'img/gdglp.png' %}" alt="GDG La Paz"></a>
                <a class="col-xs-6 col-md-4" href="https://plus.google.com/107589533385257090652/posts"><img class="eight" src="{% static 'img/gdgco.png' %}" alt="GDG Cochabamba"></a>
            </div>
        </div>
    </div>
</div>
<!-- END PARTNERS -->